@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-cormorant: var(--font-cormorant);
  --font-playfair: var(--font-playfair);
  --color-regular-gray: #2a2a2a; /* ajuste pro tom que você quer */
}

body {
  background: #0b0b0b;
  font-family: Arial, Helvetica, sans-serif;
}

[data-vaul-drawer] {
  transition: transform 0.7s cubic-bezier(0.32, 0.72, 0, 1) !important;
  animation-duration: 0.7s !important;
}

[data-vaul-overlay][data-vaul-snap-points="false"] {
  animation-duration: 0.7s !important;
}

.scrollbar-site {
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a transparent;
}

.scrollbar-site::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-site::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-site::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 9999px;
}

.scrollbar-site::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

.scrollbar-site::-webkit-scrollbar-corner {
  background: transparent;
}
